<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>HackerNews Scraper</title>
    </head>
    <body>
{{!-- placeholder for where the main content should be rendered --}}
        {{{body}}}
    </body>
</html>